html, body { height:100%; }

.row {
    margin-top:20px;
    &:last-child{margin-bottom: 20px;}
    z-index:100;
}
.header{z-index:200}

body > .container {
    height:100%;
    display:flex;
    flex-direction:column;
}

main, main>div {
    flex:1 0 auto;
    display:inherit;
}

.no-flex{
    .map{
        height:400px;
    }
}