$primary-background-color: #4a4a4a;
$primary-color: #fcfcfc;
$secondary-background-color: #545454;

$header-background-color: #595f69;
$header-color: #fcfcfc;

$highlight-background-color: #4D97C8;
$highlight-color: #fcfcfc;

$constrast-background-color: #fcfcfc;
$constrast-color: #414141;

$inactive-color: #bababa;